@model CompanyUser

@{
    ViewData["Title"] = "Company User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section links
{
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <style type="text/css">
        .form-check-input {
            width: 23px;
            height: 23px;
            margin-left: -2rem;
            margin-top: 0.08rem;
        }
    </style>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Index" class="btn btn-default" style="background-color: #31849B;color: white">Back to List <i class="fas fa-back"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] Edit</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="LoginNme" class="control-label"></label>
                                <input asp-for="LoginNme" class="form-control" readonly/>
                                <span asp-validation-for="LoginNme" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Pwd" class="control-label"></label>
                                <input asp-for="Pwd" class="form-control" />
                                <span asp-validation-for="Pwd" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label" style="margin-left: 12px">
                                    <input class="form-check-input" asp-for="ActiveFlg"/> @Html.DisplayNameFor(model => model.ActiveFlg)
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="CreateDteTime" class="control-label"></label>
                                <input asp-for="CreateDteTime" class="form-control" readonly/>
                                <span asp-validation-for="CreateDteTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-default" style="background-color: #31849B;color: white" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
